#  GitHub Linguist Configuration
* linguist-detectable=false

*.py linguist-language=Python
*.py linguist-detectable=true

*.mc linguist-language=Mercury
*.mc linguist-detectable=true

examples/* linguist-language=Mercury
examples/* linguist-detectable=true